{% extends "layouts/default.twig" %}
{% set title = "Web Styles" %}
{% set pageTitle = "Unit Web Styles" %}
{% set showTitle = TRUE %}

{% block masthead %}
{% endblock %}

{% block precontent %}
<div class="container px-5 mx-auto md--px-4">
  <div class="pt-leading">
		<Message title="Please note" classes="message--warning" svgicon="icon-alert">
			<p>These pages have not been fully tested for cross-browser compatability, so display issues may be present. Please use current versions of Chrome or Safari at this time.</p>
		</Message>
  </div>
</div>
{% endblock %}

{% block areacta %}
{% endblock %}

{% block content %}
<ul class="pl-0 list-none">
	<li class="block bg-ubc-blue">
		<h2 class="p-4 mt-0 text-white uppercase heading-five">Prototype pages</h2>
	</li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="components.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Components Page
			(contains a list of all web styles).</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--default.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Default Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--side-l-r.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Two Sidebar Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--side-l.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Sidebar Left Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--side-r.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Sidebar Right Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--narrow.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Narrow Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--home.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Home Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="layout--landing.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Layout - Landing Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="home.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Home Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="home--2.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Home Page [with additional cards, greyscale feature image]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-program.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Program Overview]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-eirs.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [EIRs]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="page-eir.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Page [EIR page]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-hatch.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Hatch Accelerator]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-locations.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Locations]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-become.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Become an Entrepreneur]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-ventures.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Ventures]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-venture.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Venture]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-updates.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Updates]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-blogs.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Blogs page]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="page-blog.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Page [Blog page]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="landing-events.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Landing Page [Events page]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="page-event.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Page [Event page]</a></li>
	<!--<li class="block border border-t-0 border-unit-grey-light"><a href="about.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">About Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="news.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">News Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="spotlight.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Spotlight Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="spotlight-listing.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Spotlight Listing Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="event.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Event Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="event-alt.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Event Page (alternate)</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="events-listing.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Events Listing Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="profile.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Profile Page</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="profile-no-img.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Profile Page [no image]</a></li>
	<li class="block border border-t-0 border-unit-grey-light"><a href="basic.html"
			class="block p-4 no-underline hover--underline text-ubc-blue hover--unit-grey">Basic Page</a></li>-->
</ul>
<h3 class="text-sm text-grey-500 heading-five">* Misc Notes:</h3>
<ul class="pl-4 text-sm list-disc text-grey-500">
	<li>All written content and images are for placeholder purposes only and are not intended to represent final content.</li>
</ul>

{% endblock %}

{% block areab %}
{% endblock %}

{% block areac %}
{% endblock %}

{% block prefooter %}
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
