{% extends "layouts/landing.twig" %}
{% set title = "Become an Entrepreneur" %}
{% set pageTitle = "Become an Entrepreneur" %}
{% set showTitle = FALSE %}

{% block masthead %}
{% include "components/component--masthead--image-title.twig" %}
{% endblock %}


{% block precontent %}
{% endblock %}

{% block areacta %}

{% endblock %}

{% block content %}
<h2 class="mt-0 font-black"><span class="font-normal text-grey-700">Lorem Ipsume Dolor Sit Amet</span> Ex Causae Nonumes</h2>
<p>Lorem ipsum dolor sit amet, ex causae nonumes salutandi quo, ea eos rebum deleniti abhorreant. At pri erat choro, facer principes mei ei. Per movet viderer integre ex, modo malis cum ut, pro id atqui reformidans complectitur. Sea indoctum philosophia te. At eos aeterno deserunt, falli graecis vix no, vix velit nemore utroque in.</p>

{% endblock %}

{% block areab %}
<section>
  <div class="relative flex justify-center md--transform md---translate-y-20 bg-unit-secondary clip-polygon-1">
    <div class="p-16 xs--p-20 xl--p-32">
      <h3 class="mt-0 text-lg font-black"><span class="font-normal">Explore the</span> Program Overview</h3>
      <p class="mt-2">At pri erat choro, facer principes mei.</p>
      <p class="mt-2"><a href="#" class="text-sm unit-button link-expand">Program</a></p>
    </div>
  </div>
</section>
{% endblock %}

{% block areac %}
<section class="py-12">
  <div class="md--grid md--gap-8 md--grid-cols-12">
    <div class="md--col-span-8 lg--col-span-7 first-child--mt-0">
      <h3>What you'll get</h3>
      <p>Here are the upcoming programmatic elements, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <ul class="grid grid-cols-1 gap-8 pt-8 pl-0 list-none sm--grid-cols-2 md--grid-cols-4">
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
  </ul>
</section>


{% endblock %}

{% block prefooter %}

<section class="py-16">
{% include "components/component--carousel--simple.twig" %}
</section>

<section>
  <div class="container px-5 py-16 mx-auto md--px-4 first-child--mt-0">
  <div class="md--grid md--gap-8 md--grid-cols-12">
    <div class="md--col-span-8 lg--col-span-7 first-child--mt-0">
      <h3>Our Streams</h3>
      <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <ul class="grid grid-cols-1 gap-8 pt-8 pl-0 list-none sm--grid-cols-2 md--grid-cols-3">
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
    <li>{% include "components/component--card--vertical--8.twig" %}</li>
  </ul>
  </div>
</section>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
