{% extends "layouts/landing.twig" %}
{% set title = "Program Overview" %}
{% set pageTitle = "Program Overview" %}
{% set showTitle = FALSE %}

{% block masthead %}
{% include "components/component--masthead--image-title.twig" %}
{% endblock %}


{% block precontent %}
{% endblock %}

{% block areacta %}

{% endblock %}

{% block content %}
<h2 class="mt-0 font-black"><span class="font-normal text-grey-700">Tailored Venture Incubators</span> Designed to Help You Succeed</h2>
<p>Lorem ipsum dolor sit amet, ex causae nonumes salutandi quo, ea eos rebum deleniti abhorreant. At pri erat choro, facer principes mei ei. Per movet viderer integre ex, modo malis cum ut, pro id atqui reformidans complectitur. Sea indoctum philosophia te. At eos aeterno deserunt, falli graecis vix no, vix velit nemore utroque in.</p>
<p>At pri erat choro, facer principes mei ei. Per movet viderer integre ex, modo malis cum ut, pro id atqui reformidans complectitur.</p>

{% endblock %}

{% block areab %}
<section>
  <div class="relative flex justify-center md--transform md---translate-y-20 bg-unit-secondary clip-polygon-1">
    <div class="p-16 xs--p-20 xl--p-32">
      <h3 class="mt-0 text-lg font-black"><span class="font-normal">Interested in the</span> Hatch Accelerator?</h3>
      <p class="mt-2">Visit the UBCO site for location specific details.</p>
      <p class="mt-2"><a href="#" class="text-sm unit-button link-expand">Learn more</a></p>
    </div>
  </div>
</section>
{% endblock %}

{% block areac %}
<ul class="grid grid-cols-1 gap-8 py-24 pl-0 list-none sm--grid-cols-3">
  <li class="pb-6 xl--pb-9">
  {% include "components/component--card--vertical--2.twig" %}
  </li>
  <li class="pb-6 xl--pb-9">
  {% include "components/component--card--vertical--2.twig" %}
  </li>
  <li class="pb-6 xl--pb-9">
  {% include "components/component--card--vertical--2.twig" %}
  </li>
</ul>
{% endblock %}

{% block prefooter %}
{% include "components/region--newsletter--2.twig" %}

<section>
  <div class="container px-5 py-16 mx-auto md--px-4 first-child--mt-0">
    <h3>Frequently Asked Questions</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <Accordion title="Am I eligible?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque. Ad his virtute accusata, pro habemus singulis temporibus ut, ne bonorum dolores euripidis quo. No nam amet erant intellegebat. Rationibus instructior id pri, vis case abhorreant ea, id sea meis feugiat.</p>
      <p>Ut vel percipit facilisi, sea partem veritus mandamus eu, at debet deleniti eos. Iudico suscipit mel ut. Per ad habeo sadipscing concludaturque. Pri lorem fastidii in, accusam honestatis signiferumque est ut, ea eos omnium senserit reprehendunt. Eu est nibh invenire.</p>
    </Accordion>
    <Accordion title="Where is Entrepreneurship@UBC?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque. Ad his virtute accusata, pro habemus singulis temporibus ut, ne bonorum dolores euripidis quo. No nam amet erant intellegebat. Rationibus instructior id pri, vis case abhorreant ea, id sea meis feugiat.</p>
      <p>Ut vel percipit facilisi, sea partem veritus mandamus eu, at debet deleniti eos. Iudico suscipit mel ut. Per ad habeo sadipscing concludaturque. Pri lorem fastidii in, accusam honestatis signiferumque est ut, ea eos omnium senserit reprehendunt. Eu est nibh invenire.</p>
    </Accordion>
    <Accordion title="How much does it cost?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
    <Accordion title="How do I get started?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
    <Accordion title="I'm trying to fund my Start Up, how do I get money?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
    <Accordion title="I didn't do an incubator program, can I still get into the Hatch Accelerator?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
    <Accordion title="When do you intake?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
    <Accordion title="Where are the programs located?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
    <Accordion title="Who are your Entrepreneurs in Residence?">
      <p>Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque.</p>
    </Accordion>
  </div>
</section>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
