<article class="relative h-full ubc-card hover--cursor-pointer hover--shadowed sm--flex group isolate">
  <div class="img-cover screen screen-unit-primary sm--w-[200px] sm--flex-shrink-0 ubc-card__media">
    <img alt="some alternate text" src="img/demo/headshot.jpg" height="355" width="355" loading="lazy" />
  </div>
  <div class="p-4 bg-white first-child--mt-0 ubc-card__content">
    <p class="text-sm text-grey-600">May 15, 2021</p>
    <h3 class="mt-2 text-xl"><a href="#" class="no-underline link-expand text-ubc-blue">3D printing on demand: How 3DQue is leading the sustainability revolution in manufacturing</a></h3>
    <p><a href="#" class="unit-button unit-button--simple link-expand--break">Read Article</a></p>
  </div>
</article>
