<article class="relative flex flex-col h-full ubc-card hover--cursor-pointer hover--shift group isolate">
  <div class="flex-none img-cover screen screen-unit-primary ubc-card__media">
    <img alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
  </div>
  <div class="flex-1 pb-4 ubc-card__content">
    <a href="#test" class="float-right w-6 h-6 p-1 mt-3 leading-none no-underline xl--w-8 xl--h-8 bg-ubc-blue link-expand">
      <svg role="presentation" class="inline-block w-4 h-4 text-white xl--w-6 xl--h-6">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
      <span class="sr-only">Michael Hayden on Linkedin</span>
    </a>
    <h3 class="mt-3 mr-12 text-lg">Michael Hayden</h3>
    <p class="mt-1 mr-12 font-sans text-base font-normal h5">Director of Finance</p>
  </div>
</article>
