<article class="relative block img-cover group hover--shift isolate">
  <div class="img-cover screen screen-unit-primary">
    <img alt="some alternate text" src="img/demo/50597755733_3cdaa2d920_k_d.jpg" height="1365" width="2048" loading="lazy" />
  </div>
  <div class="absolute inset-0 z-30 flex p-8 hover--appear-from-bottom">
    <div class="self-center w-full text-center text-shadow">
      <p class="text-sm text-white">August 15, 2021</p>
      <h4 class="mt-0 text-xl"><a href="#" class="text-white no-underline link-expand hover--text-white">Event 3</a></h4>
    </div>
  </div>
</article>
