<tiny-slider speed="200" auto-height>
  <div class="relative carousel__cell carousel__cell--fixed-height masthead__pattern">
    <div class="container relative z-40 flex flex-col justify-end h-full mx-auto carousel__content">
      <div class="px-3 pt-4 pb-4 text-white container-sm md--px-4 md--py-24">
        <h2 class="mt-0 text-3xl text-white md--text-7xl">UBC Applied Science</h2>
        <p class="mt-0 ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="relative carousel__cell carousel__cell--fixed-height img-cover masthead__pattern--screen">
    <img src="img/demo/50597755733_3cdaa2d920_k_d-crop.jpg" height="996" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-end mx-auto bg-gradient--unit md--bg-none md--absolute md--inset-0 carousel__content">
      <div class="px-3 pt-4 pb-4 text-white container-sm md--px-4 md--py-24">
        <h2 class="mt-0 text-3xl text-white md--text-7xl">UBC Applied Science</h2>
        <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
  <div class="relative carousel__cell carousel__cell--fixed-height img-cover bg-gradient--screen--unit">
    <img src="img/demo/50669032231_0ea66d58a2_k_d-crop.jpg" height="996" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-end mx-auto bg-gradient--unit md--bg-none md--absolute md--inset-0 carousel__content">
      <div class="px-3 pt-4 pb-4 text-white container-sm md--px-4 md--py-24">
        <h2 class="mt-0 text-3xl text-white md--text-7xl">Commodo consequat</h2>
        <p class="mt-0">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
  <div class="relative carousel__cell carousel__cell--fixed-height img-cover bg-gradient--screen--unit">
    <img src="img/demo/50597762528_787a6f2f88_k_d-crop.jpg" height="996" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-end mx-auto bg-gradient--unit md--bg-none md--absolute md--inset-0 carousel__content">
      <div class="px-3 pt-4 pb-4 text-white container-sm md--px-4 md--py-24">
        <h2 class="mt-0 text-3xl text-white md--text-7xl">Quis nostrud exercitation ullamco 23</h2>
        <p class="mt-0">Consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="relative carousel__cell carousel__cell--fixed-height img-cover bg-gradient--screen--unit">
    <img src="img/demo/50668514703_da6755f226_k_d-crop.jpg" height="996" width="2048" alt="" loading="lazy">
    <div class="container relative z-40 flex flex-col justify-end mx-auto bg-gradient--unit md--bg-none md--absolute md--inset-0 carousel__content">
      <div class="px-3 pt-4 pb-4 text-white container-sm md--px-4 md--py-24">
        <h2 class="mt-0 text-3xl text-white md--text-7xl">UBC Applied Science</h2>
        <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</tiny-slider>
