<div class="slider--alt">
  <tiny-slider speed="200" auto-height>
    <div class="relative carousel__cell">
      {% include "component--card--vertical--1.twig" %}
    </div>
    <div class="relative carousel__cell">
      {% include "component--card--vertical--1.twig" %}
    </div>
    <div class="relative carousel__cell">
      {% include "component--card--vertical--1.twig" %}
    </div>
    <div class="relative carousel__cell">
      {% include "component--card--vertical--1.twig" %}
    </div>
  </tiny-slider>
</div>
