<article class="relative h-full bg-white ubc-card hover--cursor-pointer hover--shadowed sm--flex group">
  <div class="sm--w-[300px] sm--flex-shrink-0 ubc-card__media p-4 sm--mr-4">
    <img src="img/demo/logo-sample.png" height="131" width="230" alt="Abcellera logo" typeof="foaf:Image" loading="lazy">
  </div>
  <div class="p-4 first-child--mt-0 ubc-card__content sm--flex-1">
    <h3 class="mt-2 text-xl"><a href="#" class="no-underline link-expand text-ubc-blue">AbCellera</a></h3>
    <p>Therapeutic monoclonal antibody discovery lorem ipsum dolor sit amet nonummy.</p>
    <p><a href="#" class="unit-button unit-button--simple link-expand--break">Read about the venture</a></p>
  </div>
  <ul class="p-4 sm--w-[300px] sm--flex-shrink-0 my-0 list-none">
    <li>Cohort: <strong>2018/2019</strong></li>
    <li>Program: <strong>Lab2Launch</strong></li>
    <li>Stage: <strong>Complete</strong></li>
    <li>Stream: <strong>Stream Name</strong></li>
  </ul>
</article>
