<div class="relative img-cover clip-feature">
  <img alt="the alternate text" src="img/demo/landing-feature.jpg" loading="lazy" height="726" width="2048" class="min-h-[500px] img-greyscale" />
  <div class="container absolute inset-0 z-40 flex flex-col justify-center px-5 mx-auto text-white md--px-4">
    <div class="p-16 xs--p-28 max-w-[640px] xl--max-w-[768px] bg-unit-accent-alpha clip-polygon-5">
      <h1 class="mt-0 text-white heading-display"><span class="font-normal">Helping UBC Entrepreneurs</span> Change the World</h1>
      <p><a href="#" class="sm--text-lg xl--text-4xl unit-button link-expand">The program</a></p>
    </div>
  </div>
</div>
