<article class="relative flex flex-col h-full ubc-card shadowed hover--cursor-pointer hover--shift">
  <div class="flex-none pt-12 text-center ubc-card__media">
  <svg class="inline-block w-24 h-24" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 530 530"><polygon points="151.041 125.234 40 187.744 60.399 316.18 58.4 316.797 296.312 256.365 291.492 129.894 151.041 125.234" style="fill:#97d4e9"/><polygon points="151.041 125.234 40 187.744 60.399 316.18 58.4 316.797 296.312 256.365 291.492 129.894 151.041 125.234" style="fill:none;stroke:#fff"/><path d="M260.883,336.442c3.026,0,5.482-.308,5.482-.685s-2.456-.685-5.482-.685-5.483.308-5.483.685S257.856,336.442,260.883,336.442Z" style="fill:none;stroke:#0a203a"/><rect x="144.725" y="284.839" width="328.942" height="119.927" rx="13.706" style="fill:#0a203a"/><rect x="144.725" y="284.839" width="328.942" height="119.927" rx="13.706" style="fill:none;stroke:#0a203a"/><rect x="128.392" y="184.877" width="361.608" height="114.216" rx="13.706" style="fill:#0a203a"/><rect x="279.877" y="284.839" width="58.627" height="31.946" rx="13.706" style="fill:#0a203a"/><rect x="279.877" y="284.839" width="58.627" height="31.946" rx="13.706" style="fill:none;stroke:#fff;stroke-width:3px"/><rect x="232.671" y="150.041" width="154.42" height="89.66" rx="13.706" style="fill:none;stroke:#0a203a;stroke-width:4px"/><rect x="132.801" y="297.403" width="352.402" height="2.833" style="fill:#fff"/><rect x="132.801" y="297.403" width="352.402" height="2.833" style="fill:none;stroke:#fff"/></svg>
  </div>
  <div class="flex-1 px-8 pt-4 pb-12 text-center ubc-card__content first-child--mt-0">
    <h3 class="text-xl"><a href="#" class="no-underline link-expand text-grey-800">Lab2Launch</a></h3>
    <p class="mt-0 absolute text-center left-0 w-full bottom-[-1.5em]"><a href="#" aria-label="Strategic plan details" class="unit-button">Details</a>
    </p>
  </div>
</article>
