<article class="relative flex flex-col h-full ubc-card shadowed hover--cursor-pointer hover--shift group isolate">
  <div class="flex-none img-cover screen screen-unit-primary ubc-card__media">
    <img alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
  </div>
  <div class="flex-1 px-8 pt-8 pb-16 text-center first-child--mt-0 ubc-card__content">
    <h3 class="text-xl"><a href="#" class="no-underline link-expand text-ubc-blue">Strategic plan</a></h3>
    <p class="mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
    <p class="mt-0 absolute text-center left-0 w-full bottom-[-1.5em]"><a href="#" aria-label="Strategic plan details" class="unit-button">Details</a>
    </p>
  </div>
</article>
