<ul class="flex flex-wrap justify-end pl-0 list-none">
  <li class="pr-4 my-2">
    <a class="block w-10 h-10 p-2 leading-none no-underline xl--w-12 xl--h-12 external-icon-removed bg-ubc-blue hover--bg-ubc-blue-cobalt" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fe.ubc.ca&quote=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;">
      <svg role="img" class="inline-block w-6 h-6 text-white xl--w-8 xl--h-8"><use xlink:href="#icon-facebook"></use></svg> <span class="sr-only">Find us on Facebook</span>
    </a>
  </li>
  <li class="pr-4 my-2">
    <a class="block w-10 h-10 p-2 leading-none no-underline xl--w-12 xl--h-12 external-icon-removed bg-ubc-blue hover--bg-ubc-blue-cobalt" href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fe.ubc.ca&title=&summary=&source=https%3A%2F%2Fe.ubc.ca" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
      <svg role="img" class="inline-block w-6 h-6 text-white xl--w-8 xl--h-8">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
      <span class="sr-only">Find us on Linkedin</span>
    </a>
  </li>
  <li class="pr-4 my-2">
    <a class="block w-10 h-10 p-2 leading-none no-underline xl--w-12 xl--h-12 external-icon-removed bg-ubc-blue hover--bg-ubc-blue-cobalt" href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fe.ubc.ca&text=:%20https%3A%2F%2Fe.ubc.ca" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
      <svg role="img" class="inline-block w-6 h-6 text-white xl--w-8 xl--h-8">
        <use xlink:href="#icon-twitter"></use>
      </svg>
      <span class="sr-only">Find us on Twitter</span>
    </a>
  </li>

  <li class="pr-4 my-2">
    <a class="block w-10 h-10 p-2 leading-none no-underline xl--w-12 xl--h-12 external-icon-removed bg-ubc-blue hover--bg-ubc-blue-cobalt" href="https://reddit.com/submit/?url=http%3A%2F%e.ubc.ca&amp;resubmit=true&amp;title=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking." target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
      <svg role="img" class="inline-block w-6 h-6 text-white xl--w-8 xl--h-8">
        <use xlink:href="#icon-reddit"></use>
      </svg>
      <span class="sr-only">Share on Reddit</span>
    </a>
  </li>
  <li class="pr-4 my-2">
    <a href="mailto:?subject=&body=:%20https%3A%2F%2Fe.ubc.ca" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;" class="block w-10 h-10 p-2 leading-none no-underline xl--w-12 xl--h-12 external-icon-removed bg-ubc-blue hover--bg-ubc-blue-cobalt">
      <svg role="img" class="inline-block w-6 h-6 text-white xl--w-8 xl--h-8">
        <use xlink:href="#icon-mail"></use>
      </svg>
      <span class="sr-only">Send us an email</span>
    </a>
  </li>
</ul>
