<tiny-slider speed="200" items="1" slide-by="page"
  mouse-drag center auto-width gutter="16" edge-padding="32">
  <div class="relative carousel__cell">
    <img alt="the alternate text" src="img/demo/featurette1.jpg" loading="lazy" height="801" width="1200" />
  </div>
  <div class="relative carousel__cell">
    {% include "media--video.twig" %}
  </div>
  <div class="relative carousel__cell">
    <img alt="the alternate text" src="img/demo/featurette3.jpg" loading="lazy" height="801" width="1200" />
  </div>
  <div class="relative carousel__cell">
    <img alt="the alternate text" src="img/demo/1.jpg" loading="lazy" height="511" width="768" />
  </div>
  <div class="relative carousel__cell">
    <img alt="the alternate text" src="img/demo/3.jpg" loading="lazy" height="427" width="639" />
  </div>
</tiny-slider>
