<section class="p-8 my-6 shadow-lg">
	<p class="mt-0">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg bg-grey-300">
	<p class="mt-0">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue-polar">
	<p class="mt-0">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing
		elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue-cobalt">
	<p class="mt-0 text-white">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue-sea">
	<p class="mt-0 text-white">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-ubc-blue">
	<p class="mt-0 text-white">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-unit-primary">
	<p class="mt-0 text-white">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-unit-secondary">
	<p class="mt-0 text-black">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-unit-accent">
	<p class="mt-0 text-white">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>

<section class="p-8 my-6 shadow-lg bg-gradient">
	<p class="mt-0 text-white">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</p>
</section>
