<article class="relative block h-full shadowed ubc-card hover--cursor-pointer group isolate">
  <div class="ubc-card__media img-cover screen screen-unit-primary">
    <img alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
  </div>
  <div class="absolute inset-0 flex p-8 ubc-card__content">
    <h3 class="self-center w-full mt-0 text-xl text-center text-shadow"><a href="#" class="text-white no-underline link-expand hover--text-white">Pitches and Pitchers 2019</a></h3>
  </div>
</article>

