<p class="text-center">
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue">
		<use xlink:href="#logo-ubc"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-search"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cornflower">
		<use xlink:href="#icon-caret"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-neptune">
		<use xlink:href="#icon-chevron"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-neptune">
		<use xlink:href="#icon-phone"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cornflower">
		<use xlink:href="#icon-discussion"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-podcast"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-neptune">
		<use xlink:href="#icon-twitter"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cornflower">
		<use xlink:href="#icon-facebook"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-neptune">
		<use xlink:href="#icon-linkedin"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cornflower">
		<use xlink:href="#icon-instagram"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue">
		<use xlink:href="#icon-youtube"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-vimeo"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-info"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-mail"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue-cobalt">
		<use xlink:href="#icon-location"></use>
	</svg>
	<svg role="presentation" class="inline-block w-12 h-12 text-ubc-blue">
		<use xlink:href="#icon-share"></use>
	</svg>
</p>
