<article class="relative flex flex-col h-full ubc-card shadowed hover--cursor-pointer hover--shift group isolate">
  <div class="flex-none img-cover screen screen-unit-primary ubc-card__media">
    <img alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
  </div>
  <div class="flex-1 px-8 pt-8 pb-16 text-center first-child--mt-0 ubc-card__content">
    <p class="text-sm text-grey-600">Event category</p>
    <h3 class="mt-0 text-xl"><a href="#" class="no-underline link-expand text-ubc-blue">Event name here</a></h3>
    <p class="mt-0">Martober 32, 2021</p>
    <p class="mt-0 absolute text-center left-0 w-full bottom-[-1.5em]"><a href="#" aria-label="Strategic plan details" class="unit-button">Details</a>
    </p>
  </div>
</article>
