<div class="relative img-cover clip-feature">
  <img alt="the alternate text" src="img/demo/landing-feature.jpg" loading="lazy" height="726" width="2048" class="min-h-[500px]" />
  <div class="container absolute inset-0 z-40 flex flex-col justify-center px-5 mx-auto text-white md--px-4">
    <div class="p-16 xs--p-28 max-w-[640px] xl--max-w-[768px] bg-unit-accent-alpha clip-polygon-2">
      <h1 class="mt-0 text-white heading-display">{{ title }}</h1>
    </div>
  </div>
</div>
