<section class="">
  <div class="border-l border-r" style="border-color:rgba(15,70,100,.12);">
  <a class="text-sm twitter-timeline" href="https://twitter.com/ubcentrepreneur?ref_src=twsrc%5Etfw" data-height="600" data-chrome="noheader nofooter">Tweets by ubcentrepreneur</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</section>
