<article class="relative flex flex-col h-full ubc-card shadowed hover--cursor-pointer hover--shift">
  <div class="flex-none pt-12 text-center ubc-card__media">
    <svg class="inline-block w-24 h-24"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 407.023 393.59"><path fill="#97d4e9" d="M143.9,72.03l179.5-7.7,40.76,106.31,1.79-.41L159.1,228.56l-51.71-98.01L143.9,72.03Z" transform="translate(-57.5 -64.33)"></path><path fill="#0b2039" d="M169.13,342.74c37.87,44.35,114.38,16.47,188-46.37S490.7,140,452.82,95.65s-135.46-.1-209,62.74-112.53,140-74.65,184.35M101.7,228.13,57.5,331.06l120.81-25.84,19.96-93.9ZM212.25,347.34,194.26,457.92l110.98-54.31-3.35-95.94-89.64,39.67Zm-61.26-50.97-16.56,53.02,49.23-4.93-19.42-29.29Zm18.96,31.75-3.46,54.67,46.59-16.64-25.81-23.28-17.32-14.75Z" transform="translate(-57.5 -64.33)"></path><path fill="#fff" d="M396.08,173.09c16.57,0,30-14,30-31.2s-13.43-31.2-30-31.2-30,14-30,31.2,13.43,31.2,30,31.2" transform="translate(-57.5 -64.33)"></path></svg>
  </div>
  <div class="flex-1 px-8 pt-4 pb-12 text-center first-child--mt-0 ubc-card__content">
    <h3 class="text-xl"><a href="#" class="no-underline link-expand text-grey-800">Lab2Launch</a></h3>
    <p class="mt-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
    <p class="absolute text-center left-0 w-full bottom-[-1.5em]"><a href="#" aria-label="Strategic plan details" class="unit-button">Details</a>
    </p>
  </div>
</article>
