<div class="p-12 mb-8 bg-grey-100">
  <div class="grid gap-8 mt-2 sm--grid-cols-2 lg--grid-cols-5">
    <div class="flex flex-col justify-end mt-0 form-item-wrapper lg--col-span-2">
      <label for="edit-search" class="sr-only">Keyword Search</label>
      <input id="edit-search" type="text" name="search" value="" size="30" maxlength="128" placeholder="Enter some keywords" class="form-text">
    </div>
    <div class="flex flex-col justify-end mt-0 form-item-wrapper">
      <label for="edit-degree">Label</label>
      <select id="edit-degree" name="degree" class="form-select">
        <option value="All" selected="selected">Any</option>
        <option value="a">Value a</option>
        <option value="b">Value b</option>
        <option value="c">Value c</option>
        <option value="d">Value d</option>
        <option value="e">Value e</option>
      </select>
    </div>
    <div class="flex flex-col justify-end mt-0 form-item-wrapper">
      <label for="edit-program">Other label</label>
      <select id="edit-program" name="program" class="form-select">
        <option value="All" selected="selected">Any</option>
        <option value="a">Value a</option>
        <option value="b">Value b</option>
        <option value="c">Value c</option>
        <option value="d">Value d</option>
        <option value="e">Value e</option>
      </select>
    </div>
    <div class="flex flex-col justify-end mt-0 form-item-wrapper">
      <input id="edit-submit-programs" type="submit" value="Search" class="form-submit unit-button">
    </div>
  </div>
</div>
