<div class="video-w-caption">
  <figure role="group" class="align-center">
    <article>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/opyPkipNNhE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </article>
    <figcaption>this is a video with a caption</figcaption>
  </figure>
</div>
