<nav id="secondary-navigation" aria-labelledby="subnav-heading"
	class="subnav">
	<h2 id="subnav-heading" class="pb-2 mt-0 text-lg">
		The Program</h2>
	<ul class="mt-2 subnav__links">
		<li>
			<a href="#" class="navlink--secondary">Incubator</a>
		</li>
		<li>
			<Disclose classes="nav--split" contentclasses="" title="Streams" triggerclasses="navlink--secondary has-children" link="#">
			<ul class="js-reveal__target subnav__links subnav--nested">
				<li>
					<a href="#" class="navlink--secondary no-children">Life Sciences</a>
				</li>
				<li>
					<a href="#" class="navlink--secondary no-children">Core Technology</a>
				</li>
				<li>
					<a href="#" class="navlink--secondary no-children">Social Venture</a>
				</li>
			</ul>
			</Disclose>
		</li>
		<li>
			<a href="#" class="navlink--secondary is-active">Hatch Accelerator</a>
		</li>
		<li>
			<a href="#" class="navlink--secondary">FAQ</a>
		</li>
	</ul>
</nav>
