<section class="bg-grey-100">
  <div class="container grid grid-cols-1 gap-16 px-5 py-16 mx-auto sm--grid-cols-2 md--grid-cols-4 md--px-4">
    <h3 class="mt-0 font-black h4"><span class="font-normal text-grey-700">Subscribe to our</span> Newsletter</h3>
    <p class="mt-0">
      <a href="#mailchimp-link" class="unit-button">Subscribe now</a>
    </p>
    <h3 class="mt-0 font-black h4"><span class="font-normal text-grey-700">Follow our</span> Podcast & Social</h3>
    <ul class="grid justify-start grid-cols-5 gap-8 pl-0 my-0 list-none">
      <li>
        <a href="#test" class="block w-12 h-12 p-2 leading-none no-underline bg-ubc-blue hover--bg-ubc-blue-cobalt">
          <svg role="presentation" class="inline-block w-8 h-8 text-white">
            <use xlink:href="#icon-podcast"></use>
          </svg>
          <span class="sr-only">Join us on our Podcast</span>
        </a>
      </li>
      <li>
        <a href="#test" class="block w-12 h-12 p-2 leading-none no-underline bg-ubc-blue hover--bg-ubc-blue-cobalt">
          <svg role="presentation" class="inline-block w-8 h-8 text-white">
            <use xlink:href="#icon-facebook"></use>
          </svg>
          <span class="sr-only">Find us on Facebook</span>
        </a>
      </li>
      <li>
        <a href="#test" class="block w-12 h-12 p-2 leading-none no-underline bg-ubc-blue hover--bg-ubc-blue-cobalt">
          <svg role="presentation" class="inline-block w-8 h-8 text-white">
            <use xlink:href="#icon-instagram"></use>
          </svg>
          <span class="sr-only">Find us on Instagram</span>
        </a>
      </li>
      <li>
        <a href="#test" class="block w-12 h-12 p-2 leading-none no-underline bg-ubc-blue hover--bg-ubc-blue-cobalt">
          <svg role="presentation" class="inline-block w-8 h-8 text-white">
            <use xlink:href="#icon-twitter"></use>
          </svg>
          <span class="sr-only">Find us on Twitter</span>
        </a>
      </li>
      <li>
        <a href="#test" class="block w-12 h-12 p-2 leading-none no-underline bg-ubc-blue hover--bg-ubc-blue-cobalt">
          <svg role="presentation" class="inline-block w-8 h-8 text-white">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
          <span class="sr-only">Find us on Linkedin</span>
        </a>
      </li>
    </ul>
  </div>
</section>
