<section class="py-2 img-cover w-constrain">
  <div class="container px-5 mx-auto md--px-4">
    <h2 class="px-4 pb-6 mt-0">Strategic initiatives</h2>
  </div>
  <img alt="alternate text" src="img/demo/19936844258_3801dc17a2_k.jpg" loading="lazy" height="1363" width="2048" class="img-h-550" />
  <div class="container px-5 mx-auto md--px-4">
    <div class="relative p-1 -mt-4 container-sm md--p-4 bg-grey-100 first-child--mt-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <p class="mt-3 text-center md--text-left md--px-4"><a href="#" class="unit-button">labore et dolore</a></p>
  </div>
</section>
