<div class="relative bg-ubc-blue-cobalt texture--right">
	<div class="container relative z-10 px-5 py-4 mx-auto text-white sm--px-3">
		<article class="ubc-card ubc-card--horiz-thirds keyline-v-short keyline--white">
			<div class="md--pr-12 ubc-card__media">
				<img alt="some alternate text" src="img/demo/Claire_Preston_0 1.jpg" height="619" width="639" loading="lazy" />
			</div>
			<div class="p-0 md--pl-3 ubc-card__content first-child--mt-0" >
				<h3 class="font-semibold "><a href="#" class="text-white no-underline hover--text-ubc-blue-polar">Connect with an engagement expert </a></h3>
				<p>Have questions about how to engage with our students or build your employer brand? Connect with our Business Development Team. <a href="tel:6048223022" class="text-white no-underline hover--text-ubc-blue-polar">604-822-3022</a> or <a href="mailto:apsc.bd@ubc.ca" class="text-white no-underline hover--text-ubc-blue-polar">apsc.bd@ubc.ca</a>.</p>
			</div>
		</article>
	</div>
</div>
