<section class="text-white bg-ubc-blue unit-content clip-footer">
	<div class="container grid grid-cols-3 gap-12 px-5 pb-20 mx-auto pt-28">
		<div class="col-span-3 md--col-span-1 md--text-center">
			<h2 class="mt-0 font-normal h4">Get in touch</h2>
			<p><a href="mailto:info@entrepreneurship.ubc.ca" class="unit-button unit-button--light">Connect</a>
		</div>
		<div class="col-span-3 md--col-span-1 md--text-center">
			<h2 class="mt-0 font-normal h4">Explore our programs</h2>
			<p><a href="https://entrepreneurshipubc.acceleratorapp.co/application/new?program" class="unit-button unit-button--light">Learn more</a>
		</div>
		<div class="col-span-3 md--col-span-1 md--text-center">
			<h2 class="mt-0 font-normal h4">Member access</h2>
			<p><a href="https://entrepreneurshipubc.acceleratorapp.co/login" class="unit-button unit-button--light">Log in</a>
		</div>
	</div>
</section>
<section class="bg-grey-300 unit-content text-grey-700">
	<div class="container px-5 py-12 mx-auto md--px-4 md--grid md--gap-x-8 md--grid-cols-12">
		<div class="md--col-span-5">
			<h2 class="font-serif md--mt-0 h5">Come visit</h2>
				<p class="mt-0 text-sm">We are located in the GrahamLee Innovation Centre in the <a href="#">Robert H. Lee Alumni Centre</a></p>
		</div>
		<div class="md--col-span-7 md--grid md--gap-x-6 md--grid-cols-12">
			<div class="md--col-span-5">
				<h2 class="font-serif md--mt-0 h5">About us</h2>
				<p class="mt-0 text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div class="md--col-span-5 md--col-start-7">
				<p class="mt-0"><span class="block mt-0 h5">We are a part of</span> <span class="sr-only">Innovation UBC</span> <svg class="block h-12 my-3" role="img" alt="Innovation UBC">
			<use xlink:href="#logo-innovation"></use>
	</svg> <small>in the Vice-President, Research and Innovation (VPRI) portfolio</small></p>
			</div>
		</div>
	</div>
</section>
