<nav id="block-kraken-secondary-menu" aria-labelledby="block-kraken-secondary-menu-menu" class="menu--secondary"  v-show="showMobileSecNav">
  <h2 id="block-kraken-secondary-menu-menu" class="visually-hidden">Secondary navigation</h2>
  <ul class="pl-0 my-0 list-none md--flex">
    <li class="hidden px-5 text-right navbar-item item md--px-4 md--text-left md--flex">
      <svg role="presentation" class="self-center inline-block w-6 h-6 text-ubc-blue">
        <use xlink:href="#icon-user"></use>
      </svg>
    </li>
    <li class="navbar-item item ">
      <a href="#" data-drupal-link-system-path="<front>" class="block px-5 py-3 text-xs no-underline navbar-link navlink--primary is-active text-ubc-blue hover--bg-unit-primary hover--text-white md--px-4">Future students</a>
    </li>
    <li class="navbar-item item">
      <a href="#" data-drupal-link-system-path="node/1" class="block px-5 py-3 text-xs no-underline navbar-link navlink--primary text-ubc-blue hover--bg-unit-primary hover--text-white md--px-4">Undergraduate students</a>
    </li>
    <li class="navbar-item item">
      <a href="#" data-drupal-link-system-path="node/1" class="block px-5 py-3 text-xs no-underline navbar-link navlink--primary text-ubc-blue hover--bg-unit-primary hover--text-white md--px-4">Graduate students</a>
    </li>
    <li class="navbar-item item">
      <a href="#" data-drupal-link-system-path="node/1" class="block px-5 py-3 text-xs no-underline navbar-link navlink--primary text-ubc-blue hover--bg-unit-primary hover--text-white md--px-4">Alumni</a>
    </li>
  </ul>
</nav>
