{# CONFIG #}
{% block config %}
	{% set unitName = "e@ubc" %}
	{% set siteURL = "e.ubc.ca" %}
	{% set facultyName = "" %}
	{% set campus = 'vancouver' %}
	{% set clfversion = 7 %}
	{% set clf_sticky = TRUE %}
	{% set show_nav_secondary = FALSE %}
	{%
		set bodyClasses = 'legacy--bw overflow-x-hidden layout--full-width'
	%}
{% endblock %}

<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }} | {{ unitName }}</title>
	{% include "../includes/head.twig" %}
	{% block custom_css %}{% endblock %}
	<style>
		#ubc7-unit { background-color: var(--color-primary); }
	</style>
</head>

<body class="{{ bodyClasses }}">
	<div id="main-content">
		{% if clfversion == 7 %}
			{% include "../includes/header--clf7.twig" %}
		{% else %}
			{% include "../includes/header.twig" %}
		{% endif %}
		{% block masthead %}{% endblock %}
		<div id="unit-content">
			<main>
				{% block precontent %}{% endblock %}
				<div class="container px-5 mx-auto md--px-4">
					<div class="sm--flex sm--justify-between">
						{% include "components/navigation--breadcrumb.twig" %}
					</div>
					{% if showTitle %}
						<h1 class="mt-2">{{ pageTitle }}</h1>
					{% endif %}
					{% block content %}{% endblock %}
					{% block areab %}{% endblock %}
					{% block areac %}{% endblock %}
				</div>
			</main>
			{% block prefooter %}{% endblock %}
		</div>
		<footer id="unit-footer">
			{% if clfversion == 7 %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer--clf7.twig" %}
			{% else %}
				{% include "../includes/footer--unit.twig" %}
				{% include "../includes/footer.twig" %}
			{% endif %}
		</footer>
		<div id="totop-mask"></div>
		<button id="totop" v-scroll-to="{ el: 'body'}">to top</button>
	</div>
	{% include "../includes/svg.twig" %}
	{% include "../includes/scripts.twig" %}
	{% block custom_javascript %}{% endblock %}
</body>

</html>
